
.mapRow{
	height: 500px;
}
#map { 
	height: 500px;
}
.popupMap{
	font-size:20px;
}
.vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.barChartClass{
    text-align:center;
    font-size:30px;
    /*margin:100px;*/
}
.rateChart{
    text-align:center;
    font-size:15px;
}
.lineRangeList{	
	display:block;
	margin:10px;
}
.lineRangeColor{
	width:30px;
	height:5px;
	display:inline-block;
	margin:0px 10px 0px 5px;
}